node_modules
contracts_build/
temp

build/*compiled.json
build/*config.json
build/lib*.json
build/*.md
build/*.txt
build/graph/

.env
!.env.example
.vscode/

# Yarn
.yarn/

# Idea
.DS_Store
.idea/
yarn.lock

